name: Go

on:
  pull_request:
    paths:
      - go.sum
      - go.mod
      - "**.go"
      - .github/workflows/go.yml
jobs:
  build:
    name: Test
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Get dependencies
        run: |
          go get -v -t -d ./...
      - name: Build
        run: go build -v ./cmd/decode/main.go
      - name: Test
        run: go test -race ./...
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
